body {
    margin: 0px;
}

h2 {
    font-size: 20px;
}

.header {
    display: block;
    border: 20px;
    background-color: gold;
    height: 10vw;
}

.navbar li {
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5vw;
    font-size: 20px;
    color: black;
    height: 20%;
}

.navbar li:hover {
    text-decoration: underline;
}

.header img {
    max-height: 10vw;
    float: left;
    padding-left: 2vw;
}

.navbar {
    text-align: right;
    padding-left: 0px;
    margin: 0px;
    height: 100%;
}

.recent {
    text-align: center;
}

.recent img {
    max-width: 25vw;
    transition: 1s;
}

.recent img:hover {
    max-width: 26vw;
}

.recent img:hover::after {
    transition: 1s;
}

.recent h2 {
    overflow: visible;
    max-width: 25vw;
    height: 50px;
}

.recent p {
    text-align: center;
    padding: 0px;
}

.recent_listed {
    display: inline-block;
    padding: 20px;
}

.article_list {
    padding-top: 30px;
    text-align: center;
}

.article_listed {
    display: inline-block;
}

.article_list img {
    max-width: 45vw;
    padding: 20px;
}

.article_list h2,p {
    text-align: left;
    padding: 10px;
    padding-left: 20px;
    margin: 0px;
}

.article {
    text-align: center;
}

.article img {
    max-width: 60vw;
}

.article_text {
    text-align: left;
    padding-left: 20vw;
    padding-right: 20vw;
}
